<!doctype html>
<html>
   <body>
   
    <table border="1" cellspacing="2" cellpadding="5" width="75%">
        <tr>      
            <th>Name</th>      
            <th>Handle</th> 
            <th>Image Link</th>      
            <th>Confirmation Code</th>      
            <th>Airports</th>      
            <th>Airline</th>      
        </tr>
    {% for entry in entries %}
         
        <tr>
           <td> {{ entry['name'] }} </td>
           <td> {{ entry['handle'] }} </td>
           <td> {{ entry['imageurl'] }} </td>
           <td> {{ entry['conf'] }} </td>
           <td> {{ entry['airports'] }} </td>
           <td> {{ entry['airlines'] }} </td>
        </tr>
        
    {% endfor %}
    </table>
      
   </body>
</html>